<div class="container-fluid py-3">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>Register Form Validation</h1>
  </div>  
  <div class="row justify-content-center my-5">
    <div class="col-4">
      <form [formGroup]="reactiveForm" #form="ngForm">
        <div class="row">
          <div class="col mb-2">
            <label for="name" class="form-label">First Name:    </label>
            <input type="text" id="name" name="name" formControlName="name" placeholder="Your First Name" required
              minlength="1" maxlength="250" class="form-control form-control-sm"
              [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
              <div *ngIf="name.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="name.errors?.['minlength']">
                This field must have at least 5 character.
              </div>             
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col mb-2">
            <label for="lastname" class="form-label">Last Name: </label>
            <input type="text" id="lastname" name="lastname" formControlName="lastname" placeholder="Your Last Name" required
              minlength="5" maxlength="250" class="form-control form-control-sm"
              [class.is-invalid]="lastname.invalid && (lastname.dirty || lastname.touched)">
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="invalid-feedback">
              <div *ngIf="lastname.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="lastname.errors?.['minlength']">
                This field must have at least 5 character.
              </div>             
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col mb-2">
            <label for="phonenumber" class="form-label">Phone Number: </label>
            <input type="text" id="phonenumber" name="phonenumber" formControlName="phonenumber" placeholder="Your Phone Number" required
              minlength="10" maxlength="250" class="form-control form-control-sm"
              [class.is-invalid]="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)">
            <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)" class="invalid-feedback">
              <div *ngIf="phonenumber.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="phonenumber.errors?.['pattern']">
               Please, Enter 10 digit Phone Number
              </div>             
            </div>
          </div>
        </div><br>
        <div class="row dropdown">
          <div class="col mb-2">
            <label for="phonenumber" class="form-label">Country: </label>           
              <select id="dropdown" name="dropdown" formControlName="dropdown"  required class="form-control form-control-sm"
              [class.is-invalid]="dropdown.invalid && (dropdown.dirty || dropdown.touched)"  >              
                <option value="India" selected>India</option>
                <option value="Canada">Canada</option>
                <option value="US">US</option>
              </select>
            <div *ngIf="dropdown.invalid && (dropdown.dirty || dropdown.touched)" class="invalid-feedback">
              <div *ngIf="dropdown.errors?.['required']">
                This field is required.
              </div>              
            </div>
          </div>
        </div><br>      
       <div class="row">
          <div class="col mb-2 d-grid">
            <button type="button" class="btn btn-sm btn-primary" (click)="submit()" routerLink="/">Submit</button>
            <!-- <span><button type="button" class="btn btn-sm btn-primary" (click)="onReset()">Reset</button></span>                       -->
          </div>
          <div class="col mb-2 d-grid">
            <!-- <button type="button" class="btn btn-sm btn-primary" (click)="submit()" routerLink="/">Submit</button> -->
            <button type="button" class="btn btn-sm btn-danger" (click)="onReset()">Reset</button>                    
          </div>
        </div><br>
        <div class="row">
          <div class="col mb-2 d-grid">
            <nav>
              <a routerLink="/readme">Read Me</a>                        
            </nav>     
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
